html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#dashboardContainer {
  display: none;  /* Escondido inicialmente */
  flex-direction: column;
  width: 100vw;  /* Ocupa 100% da largura */
  height: 100vh;  /* Ocupa 100% da altura */
  margin: 0;
  padding: 0;
}

#dashboardFrame {
  flex: 1;  /* Faz o iframe crescer e preencher o espaço disponível */
  width: 100%;
  height: 100%;
  border: none;
}

#selectionContainer {
  /* Regras para o container de seleção de dashboards */
  display: block;
}
